#cloud-config
ssh_pwauth: true
password: {{ yamlQuote .Password }}
chpasswd: { expire: False }
write_files:
  - path: /etc/security/faillock.conf
    owner: root:root
    permissions: '0644'
    content: |
      deny = 0
  - path: /etc/sudoers.d/{{ .GuestUser }}
    owner: root:root
    permissions: '0440'
    content: |
      {{ .GuestUser }} ALL=(ALL) NOPASSWD:ALL
  - path: /etc/ssh/sshd_config.d/00-pwauth.conf
    owner: root:root
    permissions: '0644'
    content: |
      PasswordAuthentication yes
      KbdInteractiveAuthentication yes
      GSSAPIAuthentication no
      UseDNS no
{{- range .ExtraWriteFiles }}
  - path: {{ .Path }}
    owner: {{ .Owner }}
    permissions: '{{ .Permissions }}'
    content: |
{{ indent 6 .Content }}
{{- end }}
runcmd:
  - {{ yamlQuote .FaillockCommand }}
  - {{ yamlQuote .ForcePasswordSSHCommand }}
  - {{ yamlQuote .EnableSSHDCommand }}
{{- range .ExtraRuncmds }}
  - {{ yamlQuote . }}
{{- end }}
